@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #24252a;
  padding-bottom: 1000px;
  position: relative;
}


li,
a,
button {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #edf0f1;
  text-decoration: none;
}

header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 5%;
  background-color: #1a1b1f;
  top: 0;
  right: 0;
  left: 0;
}

.logo {
  cursor: pointer;
  height: 46px;
}

.nav_links,
.contact-info {
  list-style: none;
}

.nav_links li {
  display: inline-block;
  padding: 0px 16px;
}

.nav_links li a {
  transform: all 0.3s ease 0s;
}
.nav_links li a:hover {
  color: #0088a9;
}

button {
  padding: 9px 25px;
  background-color: rgba(0, 136, 169, 1);
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transform: all 0.3s ease 0s;
}

button:hover {
  background-color: rgba(0, 136, 169, 0.75);
}

.main {
  margin-top: 400px;
  justify-content: center;
  display: flex;
  flex: 1fr 1fr;
}

.me-pic {
  height: 300px;
  border-radius: 300px;
  border: none;
  border-style: solid;
  border-width: 1px;
}

.about-summary {
  color: antiquewhite;
  margin-left: 100px;
  justify-content: space-evenly;
}

footer {
  position: absolute;
  font-family: Montserrat, sans-serif;
  display: flex;
  color: white;
  background-color: #0088a9;
  align-items: center;
  justify-content: center;
  padding: 20px 0px;
  height: 120px;
  bottom: 0;
  right: 0;
  left: 0;
}

footer li {
  font-family: Montserrat, sans-serif;
  font-size: 12px;
}

footer h4 {
  margin-bottom: 12px;
}

.container {
  display: flex;
  width: 1000px;
  justify-content: space-between;
}

.contact {
  align-items: center;
  display: grid;
  grid-template-columns: 100px 1fr;
  font-size: 12px;
}

.contact img {
  height: 80px;
}

.plus img {
  height: 76px;
}
.follow-me {
  display: flex;
  align-items: center;
}

.social-icons img {
  height: 24px;
  cursor: pointer;
  margin: 0px 24px;
}

.follow-me h4 {
  font-family: Montserrat, sans-serif;
  font-size: 12px;

}