.main {
  padding-top: 400px;
  padding-bottom: 200px;
  justify-content: center;
  display: flex;
  flex: 1fr 1fr;
  background-color: #24262b;;
}

.me-pic {
  height: 200px;
  border-radius: 100px;
  border: none;
  border-style: solid;
  border-width: 1px;
}

.about-summary {
  color: antiquewhite;
  margin-left: 100px;
  justify-content: space-evenly;
}
